<div class="tm-main-content">
    <section class="tm-margin-b-l">
        <header>
            <h2 class="tm-main-title">Welcome to our bookstore</h2>
        </header>

        <p>Shelf HTML template is provided by Tooplate. Please tell your friends about it. Thank you. Images are from Unsplash website. In tincidunt metus sed justo tincidunt sollicitudin. Curabitur magna tellus, condimentum vitae consectetur id, elementum
            sit amet erat.</p>

        <div class="tm-gallery">
            <div class="row">
                <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item" *ngFor="let item of data.data">
                    <a routerLink="user/login">
                        <img [src]=item.img class=" card-img-top " alt="... ">

                        <div class="card-body ">
                            <h6 class="card-text ">{{item.title}}</h6>
                            <br>
                            <p>Author: {{item.auther}} </p>
                            <p>Description: {{item.description}}</p>

                        </div>
                    </a>
                </figure>

            </div>
        </div>


    </section>

    <section class="media tm-highlight tm-highlight-w-icon">

        <div class="tm-highlight-icon">
            <i class="fa tm-fa-6x fa-meetup"></i>
        </div>


    </section>
</div>