<section class="vh-50">
    <div class="container h-50">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                                <form class="mx-1 mx-md-4" #register="ngForm" (ngSubmit)="rigsterUser(register)">

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="text" id="form3Example1c" class="form-control" name="name" placeholder="name" #name="ngModel" required minlength="3" maxlength="20" [(ngModel)]="userData.name" />
                                        </div>
                                    </div>
                                    <div class="alert alert-danger my-2" *ngIf="name.invalid&& (name.dirty || register.submitted)">
                                        <li *ngIf="name.errors?.['required']">* required</li>
                                        <li *ngIf="name.errors?.['minlength']">* minimum chars is 3</li>
                                        <li *ngIf="name.errors?.['maxlength']">* maximum chars is 20</li>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="email" id="form3Example3c" class="form-control" name="email" placeholder="email" #email="ngModel" email required ngModel/>
                                        </div>
                                        <div class="alert alert-danger my-2" *ngIf="email.invalid&& (email.dirty || register.submitted)">
                                            <li *ngIf="email.errors?.['required']">* required</li>
                                            <li *ngIf="email.errors?.['email']">* Email invalid format</li>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="password" id="form3Example4c" class="form-control" name="password" #password="ngModel" required minlength="6" maxlength="20" ngModel placeholder="password" />
                                            <div class="alert alert-danger my-2" *ngIf="password.invalid&& (password.dirty || register.submitted)">
                                                <li *ngIf="password.errors?.['required']">* required</li>
                                                <li *ngIf="password.errors?.['minlength']">* minimum chars is 6</li>
                                                <li *ngIf="password.errors?.['maxlength']">* maximum chars is 20</li>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="phone" id="form3Example4c" class="form-control" name="phone" placeholder="phone" required minlength="11" maxlength="11" #phone="ngModel" [(ngModel)]="userData.phone" (input)="checkPhone(userData.phone)" />
                                        </div>
                                        <div class="alert alert-danger my-2" *ngIf="phoneSpcialError!='' && (phone.dirty || register.submitted)">
                                            <li>* {{phoneSpcialError}}</li>
                                        </div>

                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input class="form-control" name="age" placeholder="age" #age="ngModel" type="number" required min="21" max="60" ngModel>
                                            <div class="alert alert-danger my-2" *ngIf="age.invalid&& (age.dirty || register.submitted)">
                                                <li *ngIf="age.errors?.['required']">* required</li>
                                                <li *ngIf="age.errors?.['min']">* minmun age is 21</li>
                                                <li *ngIf="age.errors?.['max']">* maxmun age is 60</li>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <div class="raw flex-wrap">

                                                <input class="form-check-input" type="radio" name="gender" value="male" #gender="ngModel" required ngModel>
                                                <label class="form-check-label" for="gender">Male  </label>
                                                <input class="form-check-input" type="radio" name="gender" value="female" ngModel #gender="ngModel" required>
                                                <label class="form-check-label" for="gender"> Female</label>
                                                <div class="alert alert-danger my-2" *ngIf="gender.invalid&& (gender.touched || register.submitted)">
                                                    <li *ngIf="gender.errors?.['required']">* required</li>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        <button class="btn btn-primary">Register</button>

                                    </div>

                                </form>

                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp" class="img-fluid" alt="Sample image">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
