<h2 class="text-primary text-center my-2">Add my Book</h2>
<form #register="ngForm" (ngSubmit)="bookAdd(register)">
    <div class="mb-3">
        <input class="form-control" name="title" placeholder="title" #title="ngModel" ngModel>
    </div>
    <div class="mb-3 ">
        <input type="text" class="form-control " name="description" placeholder="description " #descrition="ngModel" ngModel>
    </div>
    <div class="mb-3 ">
        <input class="form-control " name="auther" placeholder="auther" #auther="ngModel" ngModel>
    </div>
    <div class="mb-3 ">
        <input type="url" class="form-control " name="url" placeholder="url" #url="ngModel" ngModel>
    </div>
    <div class="mb-3 ">
        <input type="text" class="form-control " name="img" placeholder="image url" #img="ngModel" ngModel>
    </div>
    <div class="mb-3 ">
        <button class="btn btn-primary ">Add Book</button>
    </div>
</form>